:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background: #181d23;
  align-items: center;
  justify-content: center;
  height: auto;
}

header {
  display: flex;
  align-items: center;
}

header img {
  width: 80px;
}

h2 {
  font-size: 40px;
  margin: 0 auto;
}

main {
  font-family: Arial, sans-serif;
  background: #181d23;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;

  text-align: center;

  border-radius: 16px;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  margin-bottom: 50px;
  margin: 0 auto;
}

#canvas {
  max-width: 80%;
  height: 900px;
  background-color: aliceblue;
  padding: 20px;
  border: solid 1px #adff2f;
  border-radius: 10px;
  border: 1px solid greenyellow;
  box-shadow: 0 4px 8px rgba(73, 255, 1, 0.803);
  margin-bottom: 40px;
}

button {
  padding: 20px;
  background-color: #47ff2f;
  color: rgb(0, 0, 0);
  font-size: 24px;
  border-radius: 8px;
  width: 100%;
}

button:hover {
  background-color: #279019;
  box-shadow: 0 4px rgb(22, 144, 6) a(73, 255, 1, 0.803);
  border: 1px solid rgba(172, 255, 47, 0.633);
}

.botoes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 20px;
}

.botoes div {
  display: flex;
  gap: 20px;
}

.botao-full {
  margin-top: 20px;
  width: 100%;
}

#apagarBolas {
  background-color: red;
  color: white;
}
